.home__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 3rem;
}

.nav-search {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    flex-wrap: wrap;
}

.nav-input {
    padding: 1rem;
    width: 90%;
    outline: none;
    border: none;
    color: black;
    border-radius: 7px;
}

.nav-btn {
    padding: 0.9rem;
    color: white;
    border: none;
    border-radius: 2.3px;
    background-color: #008001;
    cursor: pointer;
}

.nav-btns {
    display: flex;
    gap: 1rem;

}

.msg-icon {
    font-size: 2.8rem;
    color: #333744;
}

.rooms {
    width: 80%;
    padding: 2rem;
}

.create-room-modal {
    position: absolute;
    right: 130px;
    top: 120px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 2px;
    gap: 10px;
}

.close-create-room {
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    color: #333744;
}

.create-room-input {
    padding: 0.5rem;
    border: none;
    outline: none;
}

.input-nav-box {
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: white;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
}

.error {
    color: red;
}

.welcome {
    color: green;
    font-size: 2rem;
    font-weight: bolder;
}

.logout {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.3rem;
    font-weight: bolder;
    color: green;
    cursor: pointer;
}