.search-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0px 3px;
    width: 95%;
}

.scroll-css-dm {
    height: 100vh;
}

.dm-messages {
    display: flex;
    justify-content: space-around;
}

.error-dm {
    margin-left: 16%;
}

.DM-chat {
    /* background-color: white; */
    /* background: rgba(255, 255, 255, 0.7); */
    /* backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px); */
    color: white;
    background-color: #0D141A;
    padding: 1.2rem;
    border-radius: 4px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.123rem;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #182229;
}

.DM-chats {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    align-items: center;
}

.msg-icon {
    font-size: 1.8rem;
}

.friend-logo {
    border-radius: 50%;
    height: 43px;
}

.DM-div {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.DM-sidebar {
    width: 28%;
    padding: 20px;
    /* background-color: #333744;
    background-color: #111B21; */
    background-color: #111B21;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
}

.search-user-input {
    width: 120%;
}

.dmroom {
    /* background-color: #34373C; */
    background-color: #0C141A;
}

.send-div-DM {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}

.input-msg-DM {
    width: 90%;
}

.send-input-DM {
    padding: 0.5rem;
    outline: none;
    width: 100%;
    background-color: #1F2C33;
    border: none;
    color: white;
}

.send-div-DM {
    width: 68%;
}

.send-btn-DM {
    color: green;
    font-weight: bolder;
    cursor: pointer;
}

.room-name-DM {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 72%;
    z-index: 9999;
    background-color: #1F2C33;
    color: white;
}

.home-icon {
    color: white;
    font-size: 1.8rem;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.clip {
    color: green;
}

.input-msg-DM {
    display: flex;
    background-color: #1F2C33;
}

.uploadform {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.uploadbtn {
    background: transparent;
    outline: none;
    border: none;
    font-weight: bolder;
    color: green;
    font-size: 0.9rem;
    cursor: pointer;
}

.upload-icon {
    font-size: 1.8rem;
}

.desktop-dms {
    width: 72%;
}


.mobile-dms {
    display: none;
}

.desktop-dms {
    display: block;
}

@media screen and (max-width: 580px) {
    .desktop-dms {
        display: none;
    }

    /* /dm */
    .DM-sidebar {
        width: 100vw;
    }

    .mobile-dms {
        display: none;
    }


    /* /dm/dmroom */
    .show-messages .DM-sidebar {
        display: none;
    }

    .show-messages .mobile-dms {
        display: block;
        width: 100vw;
        height: 100vh;
    }

    .room-name-DM {
        width: 100%;
    }

    .send-div-DM {
        width: 85%;
        bottom: 3px;
    }
}