.send-input {
    padding: 1rem;
    width: 96%;
    outline: none;
    border: none;
}

.send-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.send-btn {
    font-size: 3rem;
    color: green;
    cursor: pointer;
}

.room-name {
    font-size: 1rem;
    color: #008001;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    /* background-color: white; */
    padding: 1rem;
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.room-name span {
    font-size: 1rem;
    color: gray;
}

.messages {
    color: white;
    padding-left: 3rem;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
    padding-bottom: 5rem;
}

.sidebar {
    width: 20%;
    /* background-color: #2D3035; */
    background-color: #111B21;
    min-height: 100vh;
    padding-top: 57px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    font-size: 15px;
}

.room-div {
    display: flex;
    flex-direction: row;
    /* background-color: #34373C; */
    background-color: #0C141A;
}

.message-header {
    font-size: 13px;
    color: gray;
}

.message-username {
    color: green;
    font-size: 15px;
}

.scroll-css {
    height: 100vh;
    width: 80vw;
}

.leave-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
}

.file-upload {
    font-size: 2rem;
    cursor: pointer;
    color: grey;
}

.input-msg {
    width: 74%;
    background-color: white;
    display: flex;
    align-items: center;
}