.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    /* background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px); */
    background-color: #1F2C33;
    background-color: #212E35;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.login-input {
    padding: 0.8rem;
    outline: none;
}

.login-div {
    margin-top: 12%;
    width: 300px;
}

.error {
    color: red;
}

.login-link {
    color: green;
}

.forget-pass {
    cursor: pointer;
}

.forget-password-div {
    display: flex;
    justify-content: center;
    align-items: center;
}